<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/template :: head}"></div>
<style>
    p {
        font-family: "Monotype Corsiva";
        font-size: 20px;
        color: white;
    }
</style>
<body>
<div th:replace="~{fragments/template :: header}"></div>
<div class="container center-align">
    <h3>Создание заказа</h3>
    <h5 class="mb-3">Ваш баланс — <bold th:text="${#authentication.getPrincipal().getCash()}"></bold></h5>
    <form method="post" id="filter-order-form" class="row mb-1 inline-form" th:action="@{/order/add}" th:object="${filterDto}">
        <div class="input-field col s5">
            <input id="nameFilter" name="name" th:field="*{name}" type="text" class="validate">
            <label for="nameFilter"><a style="color: black; font-size: 16px">Поиск</a></label>
        </div>
        <div class="input-field col s3">
            <input required id="minPrice" name="minPrice" th:field="*{minPrice}" type="number" class="validate">
            <label for="minPrice"><a style="color: black; font-size: 16px">Мин. цена</a></label>
        </div>
        <div class="input-field col s3">
            <input required id="maxPrice" name="maxPrice" th:field="*{maxPrice}" type="number" class="validate">
            <label for="maxPrice"><a style="color: black; font-size: 16px">Макс. цена</a></label>
        </div>
        <div class="cols s-1">
            <button class="waves-effect waves-light btn-small" type="submit" style="background-color: #34495E"><i class="material-icons" >search</i></button>
        </div>
    </form>
    <h3 class="col s12 center-x" style="width: 100%" th:if="${goods.size() == 0}">Товары не найдены</h3>
    <div class="row wrap" style="display: flex; align-items: stretch">
        <div class="col m8 s12">
            <div class="row wrap" style="display: flex; align-items: stretch">
                <div class="col s12 l6" style="margin-left: 0 !important;" th:each="item : ${goods}">
                    <div class="card horizontal m-0 card-goods">
                        <div class="card-stacked" style="background-color: #34495E">
                            <div class="card-content" style="background-color: #34495E">
                                <img th:if="${item.getImg() != null && item.getImg() != ''}" class="m-a mb-1" height="200px" width="auto" th:src="${item.getImg()}" />
                                <div th:if="${item.getImg() == null || item.getImg() == ''}" style="height: 200px; width: 100%" />
                                <p th:if="${item.getDiscount() == 0}" class="card-content-item" style="background-color: #34495E">Цена - <bold><span th:text="${item.getPrice()}"></span></bold></p>
                                <p th:if="${item.getDiscount() != 0}" class="card-content-item" style="background-color: #34495E">Цена - <s><bold><span th:text="${item.getPrice()}"></span></bold></s></p>
                                <p th:if="${item.getDiscount() != 0}" class="card-content-item" style="background-color: #34495E">Цена со скидкой - <bold><span th:text="${item.getCurrentPrice()}"></span></bold></p>
                                <p class="card-content-item" style="background-color: #34495E">Тип - <bold><span th:text="${item.getGoodsType()}"></span></bold></p>
                                <p class="card-content-item" style="background-color: #34495E">Название - <bold><span th:text="${item.getName()}"></span></bold></p>
                                <p class="card-content-item" style="background-color: #34495E">Описание - <bold><span th:text="${item.getDescription()}"></span></bold></p>
                            </div>
                            <div class="card-action m-x-auto" style="background-color: #34495E">
                                <a th:data-id="${item.getId()}" th:data-price="${item.getCurrentPrice()}" th:data-name="${item.getName()}" class="button-add-order waves-effect waves-light mini-btn btn-small" style="background-color: #34495E; color: black; font-family: 'Monotype Corsiva'">Добавить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m4 s12" >
            <form id="create-order-form" class="col s12 m12" method="post" style="background-color: #34495E" th:action="@{/order}" th:object="${orderDto}">
                <h5 class="mb-2">Выбранные позиции</h5>
                <div class="row mb-1">
                    <label class="col s12">
                        <input id="withDelivery" name="withDelivery" th:checked="*{withDelivery}" type="checkbox" class="filled-in" style="color: black">
                        <span><a style="font-family: 'Monotype Corsiva'; color: black">С доставкой?</a></span>
                    </label>
                </div>
                <ul class="collection" id="collection-added-goods">
                    <li th:each="item,iter : ${checkedGoods}" class="collection-item" th:data-index="${iter.index}" th:data-price="${item.getCurrentPrice()}" th:data-id="${item.getId()}" style="display: flex; flex-direction: column">
                        <div th:text="${item.getName()}"></div>
                        <div th:text="'Цена - ' + ${item.getCurrentPrice()}"></div>
                        <button class="m-x-auto w100 remove-goods waves-effect waves-light mini-btn btn-small">Удалить</button>
                    </li>
                </ul>
                <p id="order-price" class="mt-2" style="background-color: #34495E">Цена заказа - 0</p>
                <p id="order-price-delivery" th:attr="style=${orderDto.getWithDelivery() != null ? 'display: block' : 'display: none'}">Цена доставки - <span th:text="${@environment.getProperty('delivery.price')}"></span></p>
                <input th:each="item,iter : ${checkedGoods}" type="text" th:data-index="${iter.index}" hidden class="validate good-item" name="goodsIds[]" field="goodsIds[]" th:value="${item.getId()}">
                <button type="submit" class="waves-effect waves-light btn" style="background-color: #34495E"><a style="color: black; font-family: 'Monotype Corsiva'">Создать</a><i class="material-icons right"><a style="color: black">send</a></i></button>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/template :: script}"></script>
</body>
</html>